nav *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav ul {list-style: none;} 

nav a {
	text-decoration: none;
    color:rgba(221, 221, 221, 0.504);
}

nav .white{
    color:white;
}

nav .cursor {
    cursor:pointer;
}

nav .fab1{
    color:white;
    display: flex;
    justify-content: center;
    font-size:30px;
    top:32px;
    left:48px;
    opacity: 0.5;
    position:fixed;
}

nav .fab1 > i{
    margin-top:10px;
    margin-right:70px;
}

nav .seconds{
    
    background-color: black;
    opacity: 0.9;
    position:fixed;
    width:270px;
    height:880px;
    top:0px;
    right:0px;
    display:none;
    z-index:50;
}

nav .seconds.active{
    display:flex;
}

nav .seconds.exit{
    display:none;
}

nav .fa-x{
    color:white;
    position:absolute;
    top:20px;
    right:52px;
}

nav .fa-arrow-right-to-bracket{
    color:white;
    position:absolute;
    top:40px;
    right:52px;
}

nav .seconds p:nth-of-type(1){
    position:absolute;
    top:15px;
    right:10px;
    color:white;
}

nav .seconds a:nth-of-type(2){
    position: absolute;
    top: 35px;
    right: 157px;
    color: white;
    font-size:13px;
}

nav .seconds a:nth-of-type(3){
    position: absolute;
    top: 35px;
    right: 107px;
    color: white;
    font-size:13px;
}

nav .container img{
    position:absolute;
    height:100%;
    width:100%;
}

nav .nav_bar{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:10%;
    right:20%;
    width: 200px;
}

nav .third{
    display:flex;
    position:fixed;
    width:250px;
    height:680px;
    top:0px;
    right:0px;
}

nav .third.active{display:flex;}

nav .third.exit{display:none;}

nav .menu-btn-title01{
    background: #082954;
    color: #fff;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    font: bold 15px "arial";
    top: 145px;
}

nav .menu-btn-title02{
    background: #fff;
    opacity: 0.8;
    color: #082954;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 181px;
    font: bold 15px "arial";
    box-shadow: 5px 5px 10px black;
	opacity: 0.3;
}

nav .fa-bars{
    color:black;
    position:absolute;
    top:122px;
    right:85px;
}

nav .third p{
    position:absolute;
    top:121px;
    right:32px;
    font: bold 15px "arial";
}