/* 폰트 */
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main{
    width: 100%;
    margin: auto;
}

/* 상단 div */
.dateSelection{
    height: 170px; 
    width: 700px;
    margin: 30px 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a2a6c;
}

/* 상단 div 제목 */
.reserve-Title{
    font-family: 'GowunBatang-Regular';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}


/* 예약, 취소 일시 */
.dateSelection span{
    font-family: 'GowunBatang-Regular';
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------- */

/* 취소 내역 박스 */
.reserveCancelTitleSection{
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reserveCancelSection{
    padding: 0 30px 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}


/* 취소 내역 박스 */
.selectionContents{
    width: 700px;
    height: 700px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 1em;
}




/* 취소 내역 타이틀 */
.cancelTitle{
    font-family: 'GowunBatang-Regular';
    height: 70px;
    display: flex;
    justify-content: left;
    padding: 50px 0 50px 70px;
    align-items: center;
    font-weight: bold;
    font-size: 28px;

}

.cancelTitle-notice{
    font-family: 'GowunBatang-Regular';
    height: 30px;
    display: flex;
    justify-content: left;
    padding-left: 75px;
    align-items: left;
    color: #1a2a6c;
    font-size: 17px;
} 

a{
    text-decoration: none;
    height: 30px;
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);

}
.cancelSubTitle{
    font-family: 'GowunBatang-Regular';
    height: 70px;
    display: flex;
    justify-content: left;
    padding: 50px 0 50px 70px;
    align-items: center;
    font-weight: bold;
    font-size: 28px;  
}

.totalPay{
    font-family: 'GowunBatang-Regular';
    display: flex;
    position: relative;
    left: 50%;
    text-align: center;
    color: #c90d81; 
}

.subPay{
    font-family: 'GowunBatang-Regular';
    display: flex;
    position: relative;
    left: 55%;
    text-align: center;
    color: #c90d81;  
}
.subPay2{
    font-family: 'GowunBatang-Regular';
    display: flex;
    position: relative;
    left: 55%;
    text-align: center;
    color: #c90d81; 
}

.subPay3{
    font-family: 'GowunBatang-Regular';
    display: flex;
    position: relative;
    left: 50%;
    text-align: center;
    color: #c90d81; 
}

.subPoint{
    font-family: 'GowunBatang-Regular';
    display: flex;
    position: relative;
    left: 55%;
    text-align: center;
    color: #c90d81;  
}

.cancelSub{
    height: 70px;
    display: flex;
    justify-content: left;
    padding: 30px 0 30px 70px;
    align-items: center;
    color: #1a2a6c;
    font-size: 24px;
}

