main{
    width: 100%;
    margin: auto;
}

/* 로고 크기 */
a{  
    height: 30px;
    display: flex;
    border-bottom: 1px solid rgb(195, 195, 195);
}

/* 폰트 */
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 마이페이지 영역 */
.myPage-content{
    width: 1400px;
    height: 600px;
    margin: 50px auto;

    display: flex;
}

/* 왼쪽 사이드 메뉴 */
.left-side{
    width: 300px;
    margin: auto;
}

.list-group{
    width: 100%;
    padding: 0 20px 0 0;
        /*  상  우 하 좌 */
}

.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
}



.list-group > li > a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.list-group > li > a > span {
    font-size: 13px;
    text-decoration: none;
    color: white;
    
    height: 100%;

    display: flex;

    justify-content: left;
    align-items: center;
}

.list-group > li:hover{
    background-color: #3350c2;   
}

/* 마이페이지 공통 부분 */
.myPage-main{
    width: 100%;
    margin: auto;
}


.myPage-title{
    font-family: 'GowunBatang-Regular';
    font-size: 30px;
    margin : 0 0 10px 0;

}

.myPage-row{
    width: 500px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.myPage-row > *{
    font-size: 18px;
    font-weight: bold;
}

.myPage-row > label{
    width: 30%;
    color: #1a2a6c;
}

.myPage-row > span{
    width: 70%;
}

.myPage-row > input{
    width: 100%;
    height: 100%;

    border: 0;
    outline: 0;
    font-weight: normal;
}

.myPage-row:focus-within{
    border-bottom: 2px solid #1a2a6c ;
}
 
form[name="myPage-form"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------------------------- */
/* 마이페이지 sideMenu 스타일 */
.myPageMenu {
    font-family: 'GowunBatang-Regular';
    font-size: 12px;
    color: #101010;
    width: 200px;
    height: 500px;
    border: #0a1c45 solid 2px;
    background: #1a2a6c;
    padding: 23px;
    margin: 60px 30px 0;
}    

/* h2 class="tit" 밑줄선 효과 */
.tit > a{
    font-family: 'GowunBatang-Regular';
    font-size: 25px;
    text-decoration: none;
    color: white;
    height: 53px;

    display: flex;

    justify-content: left;
    align-items: center;

    border-bottom: 2px solid #ddd;
}

/* h4 class="tit2" 밑줄선 효과 */
.tit2 > a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    height: 45px;

    display: flex;

    justify-content: left;
    align-items: center;

    border-bottom: 3px solid #42475a;
}




/* 아래선 효과 */
.rsv-Underline {
    display: block;
    height: 5px;
    border-bottom: 5px solid #0d1a4e;
}

/* 예약 확인 공통 부분 */
.rsvCheck-main{
    width: 700px;
    padding: 0 50px;
}

/* 예약 확인/취소 제목 */
.rsvCheck-title{
    margin : 0 0 10px 0;
    font-size: 30px;
}

.rsv-explanation{
    font-family: 'GowunBatang-Regular';
    height: 51px;
    line-height: 50px;
    color: #101010;
}

/* 예약 확인 div */
.contain{
    font-family: 'GowunBatang-Regular';
    width: 100%;
    margin: 0;
    font-size: 12px;
    color: #101010;
    padding: 65px 0 0 0;
    position: relative;
}

/* 예약 확인 박스 영역 */
.contain {
    position: relative;
    border: #7078a1 solid 1px;
    padding: 20px;

}

/* table 리스트 */
.rsvList {
    border: none;
    border-top: 1px solid #aca99f;
    width: 100%;
    border-collapse: collapse;
    padding: 7px 10px 6px;
}

.rsvList th, .rsvList td {
    border: none;
    border-bottom: 1px solid #aca99f;
    padding: 7px 10px 6px;
    text-align: center;
    line-height: 30px;
    color: #1b1b1b;
}

.list-table th{
    border: none;
    border-bottom: 1px solid #aca99f;
    padding: 7px 10px 6px;
    line-height: 30px;
    color: #707070;
}


/* 조회 버튼 */
/* .search{
    position: relative;
} */

/* 예약 취소 버튼 */
.w-btn-outline {
    position: relative;
    left: 90%;
    padding: 7px 12px;
    border-radius: 2px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.w-btn-blue-outline {
    font-family: 'GowunBatang-Regular';
    border: 1px solid #4a5a94;
    color: #101010;
}

.w-btn-blue-outline:hover {
    background-color: #4a5a94;
    color: #d4dfe6;
}

/* 3,6,12 개월 기간 조회 */
.btn{
    justify-content: space-around;
    align-items: center;
    padding: 3px 6px;
    border-radius: 2px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    margin-right: 12px;
}

.btn-sm{
    font-family: 'GowunBatang-Regular';
    border: 1px solid #4a5a94;
    color: #101010;
}

.btn-sm:hover{
    background-color: #4a5a94;
    color: #d4dfe6;
}

.reserveNothing{
    justify-content: center;
    align-items: center;
}